/* .nav-link-hover {
  color: #f3ece4 !important;
  text-decoration: none;
  transition: text-decoration 0.2s ease;
}

.nav-link-hover:hover {
  text-decoration: underline;
}

.navbarBrand {
  display: flex;
  align-items: center;
  color: #f3ece4 !important;
  font-weight: bold;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.navbarBrand p {
  margin-left: -15px;
  margin-bottom: 0;
} */
